certifi==2020.12.5
chardet==4.0.0
greenlet==1.0.0
idna==2.10
importlib-metadata==3.10.0
psycopg2-binary==2.8.6
pyaes==1.6.1
pyasn1==0.4.8
PyJWT==2.0.1
pymongo==3.11.3
python-arango==7.1.0
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7.2
setuptools-scm==6.0.1
six==1.15.0
SQLAlchemy==1.4.5
SQLAlchemy-Utils==0.36.8
Telethon==1.21.1
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1
